:root {
  --primary-color: #0e71c2;
  --primary-color-dark: #05477e;
  --primary-color-opacity: rgba(14, 113, 194, 0.5);
  --popup-background: rgba(0, 0, 0, 0.9);
  --gray-light: #fbfbfb;
  --gray-dark: #999;
  --error: #eb564f;
  --system-black: #000;
  --system-white: #fff;
}
